:root{
    --player-height: 90px;
    --sidebar-width: 50px;
    --header-main-height: 100px;

}
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141922;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}


/* UTILS */
.debug{
    min-height: 50px;
    padding: 5px;
    background-color:#ff000022;
    border: 2px dashed red;
}
/* .container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
[class*='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} */
.wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* STRUCTURE */


#header-main{
    background-color: #080b12;
    height: var(--header-main-height);
}

#top-content{
    height: calc(100vh - var(--player-height));
    display: flex;
}
#main-content{
    width: calc(100% - var(--sidebar-width));
}
/* SIDEBAR  */
[ID*='sidebar-']{
    padding: 5px 0;
}
#sidebar{
    background-color: black;
    color: white;
    width: var(--sidebar-width);
    overflow: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    
}
.side-pad{
    padding: 0 0.5rem;
}
#sidebar-logo{
    display: none;
}

.active{
    border-left: 5px solid #bdff30;
}
#sidebar-home span{
    display: none;
}
#sidebar-search span{
    display: none;
    filter: invert(50%);
}
#sidebar-search img{
    filter: invert(50%);
}

#sidebar-library span{
    display: none;
    filter: invert(50%);
}
#sidebar-library img{
    filter: invert(50%);
}

#sidebar-playlist{
    flex-grow: 1;
}
#sidebar-playlist #playlist{
    display: none;
    filter: invert(50%);
}

#playlist li{
    padding-top: 10px;
}



#sidebar-download span{
    display: none;
    filter: invert(50%);
}
#sidebar-download img{
    filter: invert(50%);
}
#sidebar-divisor::after{
    content: '';
    display: none;
    width: 100%;
    height: 0;
    border: 1px solid grey;
}
#sidebar-utent img{
    background-color: #808080;
    border-radius: 50%;
}
#sidebar-utent span{
    display: none;
}

/* player */
#player{
    background-color: #282828;
    height: var(--player-height);
    color: white;
    display: flex;
    justify-content: space-between;
}
#player-song{
    display: flex;
}
#img-song-played img{
   width: 50px;
}
#player-control{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#control-buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#control-music{
    display: flex;
    align-items: center;
}
.song-bar{
    background-color: #5c5c5c;
    height: 5px;
    width: 150px;
    margin: 0 5px;
}
.song-level{
    background-color: white;
    width: 30px;
    height: 100%;
}



/* RESPONSIVE */
@media screen and (min-width: 576px) { 
    :root{
        --sidebar-width: 200px;
    }
    
    #sidebar-divisor::after{
        display: block;
    }
    #sidebar-logosmall{
        display: none;
    }
    #sidebar-logo{
        display: block;
    }
    
    #sidebar-home{
        display: flex;
        align-items: center;
    }
    #sidebar-home span{
        display: inline-block;
    }
    #sidebar-home img{
        width: 20%;
    }
    #sidebar-search{
        display: flex;
        align-items: center;
    }
    #sidebar-search span{
        display: inline-block;
    }
    #sidebar-search img{
        width: 20%;
    }
    #sidebar-library{
        display: flex;
        align-items: center;
    }
    #sidebar-library span{
        display: inline-block;
    }
    #sidebar-library img{
        width: 20%;
    }
    #sidebar-playlist #playlist{
        display: block;
    }
    
    #sidebar-download{
        display: flex;
        align-items: center;
    }
    #sidebar-download span{
        display: inline-block;
    }
    #sidebar-download img{
        width: 20%;
    }
    #sidebar-utent{
        display: flex;
        align-items: center;
    }
    #sidebar-utent span{
        display: inline-block;
    }
    #sidebar-utent img{
        width: 20%;
    }

    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}